@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 240, 230;
  --navbar-bg: 245, 240, 230;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 18, 18, 18;
  --navbar-bg: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: rgb(var(--navbar-bg));
}

a {
  color: rgb(var(--link-color));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: rgb(var(--foreground-rgb));
}

code {
  background: rgba(var(--highlight-color), 0.1);
  color: rgb(var(--highlight-color));
  padding: 0.5em 0.4em;
  border-radius: 0.3em;
}

.neon-orange-gradient {
  background: linear-gradient(to bottom, #ff9b44, #fc6076);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-link {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:not(:last-child) {
  margin-right: 8px;
}

/* Adding explicit transition properties for color and background-color */
.nav-link, .nav-button {
  transition: color 1ms ease-in-out, background-color 1ms ease-in-out;
}

/* Add this below the existing .nav-link styles */
.nav-link.gradient {
  background: linear-gradient(to bottom, #ff9b44, #fc6076);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.25rem;
}
